<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @comp.theme %></title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
      <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
              <a id="homeLink" class="navbar-brand" href="/">Artistrie</a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
                  <li class="active">
                      <a href="/competitions">Artist Competitions</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <% if @user %>
                      <li><a href="/users/<%= @user.id %>"><%= @user.username %>'s Profile</a></li>
                      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <!--        if no logged in user, show these menu items
     -->          <% else %>
                      <li><a href="/users/sign_in">Login</a></li>
                      <li><a href="/users/sign_up">Sign Up</a></li>
                  <% end %>
              </ul>
          </div>
      </div>
  </nav>
  	<div ng-app='ArtistrieApp'>
		<div ng-controller='CompCtrl'>
	  		<p>Value from CompCtrl:</p>
	  		<p>{{ compValue }}</p>
		</div>
	</div>	
</body>
</html>